body {
  background-color: white; }

/*--------------------------------
          MINE MIXINS
--------------------------------*/
/*--------------------------------
             NAVBAR
--------------------------------*/
/*--------------------------------
             navbar
--------------------------------*/
.modal-sm {
  top: 100px;
  width: 300px;
  margin: 0 auto; }

/*--------------------------------
             phone
--------------------------------*/
@media only screen and (max-width: 480px) {
  .navbar {
    background-color: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 500;
    top: 0px;
    height: 60px;
    webkit-box-shadow: 0 0 5px 0 #2c5996;
    -moz-box-shadow: 0 0 5px 0 #2c5996;
    box-shadow: 0 0 5px 0 #2c5996; }

  .logo-opener-container {
    width: 100%;
    position: relative;
    z-index: 500; }

  .logo {
    margin: 10px 0;
    padding-left: 20px;
    width: 50%;
    height: 60px;
    margin-top: -1px;
    background-color: white;
    text-align: left;
    display: inline-block;
    float: left;
    z-index: 500; }
    .logo img {
      margin: 15px 0px;
      width: 28px;
      height: 28px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }

  .navbar-opener-container {
    width: 50%;
    height: 60px;
    margin: 0;
    margin-top: -1px;
    float: right;
    display: inline-block;
    text-align: right;
    background-color: white;
    z-index: 500; }

  .navbar-opener {
    height: 30px;
    width: 40px;
    margin: 15px 10px;
    padding: 0;
    border: 0px;
    background-color: white; }

  .navbar-opener-line {
    height: 4px;
    width: 30px;
    background-color: black;
    margin: 4.5px 5px; }

  .navbar-opener:focus {
    outline: 0 !important; }

  .navbar-text-holder {
    height: 60px;
    line-height: 40px;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 400;
    top: -200px;
    background-color: transparent; }
    .navbar-text-holder ul {
      margin: -1px;
      padding: 0; }
    .navbar-text-holder li {
      background-color: white;
      margin: 0;
      text-align: center;
      vertical-align: middle;
      color: black;
      font-size: 0.9em;
      list-style: none; }
    .navbar-text-holder li:hover {
      background-color: #6abcd4; }
    .navbar-text-holder a, .navbar-text-holder a:hover, .navbar-text-holder a:active, .navbar-text-holder a:visited {
      text-decoration: none; }

  #contact {
    webkit-box-shadow: 0 5px 5px -5px #2c5996;
    -moz-box-shadow: 0 5px 5px -5px #2c5996;
    box-shadow: 0 5px 5px -5px #2c5996; }

  @-webkit-keyframes transformToCloseButton-first-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    100% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }
  @-moz-keyframes transformToCloseButton-first-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    100% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }
  @-ms-keyframes transformToCloseButton-first-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    100% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }
  @-o-keyframes transformToCloseButton-first-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    100% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }
  @keyframes transformToCloseButton-first-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); }
    100% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }
  @-webkit-keyframes transformToCloseButton-first-off {
    0% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); } }
  @-moz-keyframes transformToCloseButton-first-off {
    0% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); } }
  @-ms-keyframes transformToCloseButton-first-off {
    0% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); } }
  @-o-keyframes transformToCloseButton-first-off {
    0% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); } }
  @keyframes transformToCloseButton-first-off {
    0% {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg); } }
  @-webkit-keyframes transformToCloseButton-second-on {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @-moz-keyframes transformToCloseButton-second-on {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @-ms-keyframes transformToCloseButton-second-on {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @-o-keyframes transformToCloseButton-second-on {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @keyframes transformToCloseButton-second-on {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @-webkit-keyframes transformToCloseButton-second-off {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-moz-keyframes transformToCloseButton-second-off {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-ms-keyframes transformToCloseButton-second-off {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-o-keyframes transformToCloseButton-second-off {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes transformToCloseButton-second-off {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-webkit-keyframes transformToCloseButton-third-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; }
    100% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; } }
  @-moz-keyframes transformToCloseButton-third-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; }
    100% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; } }
  @-ms-keyframes transformToCloseButton-third-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; }
    100% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; } }
  @-o-keyframes transformToCloseButton-third-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; }
    100% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; } }
  @keyframes transformToCloseButton-third-on {
    0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; }
    100% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; } }
  @-webkit-keyframes transformToCloseButton-third-off {
    0% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; } }
  @-moz-keyframes transformToCloseButton-third-off {
    0% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; } }
  @-ms-keyframes transformToCloseButton-third-off {
    0% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; } }
  @-o-keyframes transformToCloseButton-third-off {
    0% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; } }
  @keyframes transformToCloseButton-third-off {
    0% {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top: -18px; }
    100% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      margin-top: 0px; } }
  .firston {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-first-on;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-first-on;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-first-on;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-first-on;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .firstoff {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-first-off;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-first-off;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-first-off;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-first-off;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .secondon {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-second-on;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-second-on;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-second-on;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-second-on;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .secondoff {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-second-off;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-second-off;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-second-off;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-second-off;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .thirdon {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-third-on;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-third-on;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-third-on;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-third-on;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .thirdoff {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: transformToCloseButton-third-off;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: transformToCloseButton-third-off;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: transformToCloseButton-third-off;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: transformToCloseButton-third-off;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  @-webkit-keyframes slideDown {
    0% {
      top: -200px; }
    100% {
      top: 60px; } }
  @-moz-keyframes slideDown {
    0% {
      top: -200px; }
    100% {
      top: 60px; } }
  @-ms-keyframes slideDown {
    0% {
      top: -200px; }
    100% {
      top: 60px; } }
  @-o-keyframes slideDown {
    0% {
      top: -200px; }
    100% {
      top: 60px; } }
  @keyframes slideDown {
    0% {
      top: -200px; }
    100% {
      top: 60px; } }
  @-webkit-keyframes slideUp {
    0% {
      top: 60px; }
    100% {
      top: -200px; } }
  @-moz-keyframes slideUp {
    0% {
      top: 60px; }
    100% {
      top: -200px; } }
  @-ms-keyframes slideUp {
    0% {
      top: 60px; }
    100% {
      top: -200px; } }
  @-o-keyframes slideUp {
    0% {
      top: 60px; }
    100% {
      top: -200px; } }
  @keyframes slideUp {
    0% {
      top: 60px; }
    100% {
      top: -200px; } }
  .slidedown {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: slideDown;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: slideDown;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: slideDown;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: slideDown;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .slideup {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: slideUp;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: slideUp;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.2s;
    -o-animation-name: slideUp;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ } }
/*--------------------------------
             desktop
--------------------------------*/
@media screen and (min-width: 768px) {
  .navbar {
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    top: 25px; }

  .logo-opener-container {
    width: 10%;
    height: 80px;
    margin: 0;
    display: inline-block;
    float: left;
    background-color: transparent; }

  .logo {
    margin: 10px auto;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: transparent;
    text-align: center; }
    .logo img {
      margin-top: 9px;
      width: 42px;
      height: 42px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      webkit-box-shadow: 0 0 15px 0 black;
      -moz-box-shadow: 0 0 15px 0 black;
      box-shadow: 0 0 15px 0 black; }

  .navbar-text-holder {
    width: 90%;
    height: 80px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    background-color: transparent; }
    .navbar-text-holder ul {
      float: right;
      margin: 20px 0;
      padding: 0px;
      margin-right: 10px; }
    .navbar-text-holder li {
      display: inline-block;
      background-color: transparent;
      width: 110px;
      margin: 0 10px;
      text-align: center;
      vertical-align: middle;
      color: #6abcd4;
      font-size: 0.9em; }
    .navbar-text-holder li:hover {
      color: white; }
    .navbar-text-holder a, .navbar-text-holder a:hover, .navbar-text-holder a:active, .navbar-text-holder a:visited {
      text-decoration: none; }

  #contact {
    border: 1px solid #6abcd4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

  #contact:hover {
    border: 1px solid white; }

  .navbar-opener-container {
    display: none; } }
/*--------------------------------
             tablet
--------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    top: 25px; }

  .logo-opener-container {
    width: 10%;
    height: 80px;
    margin: 0;
    display: inline-block;
    float: left;
    background-color: transparent; }

  .logo {
    margin: 10px auto;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: transparent;
    text-align: center; }
    .logo img {
      margin-top: 9px;
      width: 42px;
      height: 42px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      webkit-box-shadow: 0 0 15px 0 black;
      -moz-box-shadow: 0 0 15px 0 black;
      box-shadow: 0 0 15px 0 black; }

  .navbar-text-holder {
    width: 90%;
    height: 80px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    background-color: transparent; }
    .navbar-text-holder ul {
      float: right;
      margin: 25px 0;
      padding: 0px;
      margin-right: 10px; }
    .navbar-text-holder li {
      display: inline-block;
      background-color: transparent;
      width: 72px;
      margin: 0 3px;
      text-align: center;
      vertical-align: middle;
      color: #6abcd4;
      font-size: 0.8em; }
    .navbar-text-holder li:hover {
      color: white; }
    .navbar-text-holder a, .navbar-text-holder a:hover, .navbar-text-holder a:active, .navbar-text-holder a:visited {
      text-decoration: none; }

  #contact {
    border: 1px solid #6abcd4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

  #contact:hover {
    border: 1px solid white; }

  .navbar-opener-container {
    display: none; } }
/*--------------------------------
           	MAIN PAGE
--------------------------------*/
#main-page {
  background-image: url(../pics/div-bg-01.png);
  margin-top: 0px;
  position: relative; }

.slogan {
  font-family: 'Comfortaa', cursive;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  background-color: transparent; }
  @media only screen and (max-width: 480px) {
    .slogan {
      font-size: 2em; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .slogan {
      font-size: 3em; } }
  @media screen and (min-width: 768px) {
    .slogan {
      font-size: 4em; } }

.learnmore {
  font-family: 'Comfortaa', cursive;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: transparent; }
  @media only screen and (max-width: 480px) {
    .learnmore {
      font-size: 1em; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .learnmore {
      font-size: 1.25em; } }
  @media screen and (min-width: 768px) {
    .learnmore {
      font-size: 1.5em; } }
  .learnmore a, .learnmore a:hover, .learnmore a:active, .learnmore a:visited {
    text-decoration: none;
    color: white; }
  .learnmore a:hover {
    color: black; }
  .learnmore span {
    margin-left: 5px; }

/*--------------------------------
             PAGES
--------------------------------*/
.page {
  background-color: white;
  height: 350px;
  position: relative;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden; }

.between-pages {
  max-width: 900px;
  height: 1px;
  margin: 1px auto;
  padding: 0;
  background-color: #167fbc; }

.page-button {
  background-color: #445561;
  color: white;
  max-width: 120px;
  height: 40px;
  border: 1px solid #394852;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 50%;
  font-family: 'Comfortaa', cursive;
  font-size: 0.9em; }
  .page-button span {
    margin-left: 10px; }

.page-button:hover {
  color: black; }

.left-page > .page-text > .page-button-comment-container > .page-button {
  float: right; }

.right-page > .page-text > .page-button-comment-container > .page-button {
  float: left; }

.left-page > .page-text > .page-button-comment-container > .comment {
  float: left; }

.right-page > .page-text > .page-button-comment-container > .comment {
  float: right; }

.page-button-comment-container {
  width: 100%;
  background-color: yellow;
  position: relative;
  padding: 0 10px;
  margin-top: 35px; }

.comment {
  font-family: 'Comfortaa', cursive;
  font-size: 0.8em;
  width: 50%;
  float: left;
  margin-top: 30px;
  opacity: 0; }
  .comment span {
    font-size: 0.6em;
    margin-right: 8px;
    position: relative;
    bottom: 2px; }

footer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  height: 50px;
  padding-top: 17.5px;
  text-align: center;
  background: gainsboro;
  color: #646464; }

/*--------------------------------
           	MAIN PAGE
--------------------------------*/
.page-pics {
  position: relative;
  background-color: transparent; }
  .page-pics img {
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto; }

.page-text {
  padding: 0 10px;
  height: 100%;
  background-color: transparent; }

.comment {
  margin-top: 15px;
  opacity: 1; }

@media screen and (min-width: 768px) {
  .page-pics {
    width: 45%;
    height: 100%; }
    .page-pics img {
      width: 100%;
      margin-top: 60px; }

  .page-text {
    width: 55%; }

  .left-page > .page-pics {
    float: left; }

  .left-page > .page-text {
    float: right; }

  .right-page > .page-pics {
    float: right; }

  .right-page > .page-text {
    float: left; }

  .page-title {
    margin-bottom: 30px; }

  .page-content {
    font-size: 1.2em; }

  @-webkit-keyframes commentON {
    0% {
      margin-top: 30px;
      opacity: 0; }
    100% {
      margin-top: 15px;
      opacity: 1; } }
  @-moz-keyframes commentON {
    0% {
      margin-top: 30px;
      opacity: 0; }
    100% {
      margin-top: 15px;
      opacity: 1; } }
  @-ms-keyframes commentON {
    0% {
      margin-top: 30px;
      opacity: 0; }
    100% {
      margin-top: 15px;
      opacity: 1; } }
  @-o-keyframes commentON {
    0% {
      margin-top: 30px;
      opacity: 0; }
    100% {
      margin-top: 15px;
      opacity: 1; } }
  @keyframes commentON {
    0% {
      margin-top: 30px;
      opacity: 0; }
    100% {
      margin-top: 15px;
      opacity: 1; } }
  @-webkit-keyframes commentOFF {
    0% {
      margin-top: 15px;
      opacity: 1; }
    100% {
      margin-top: 30px;
      opacity: 0; } }
  @-moz-keyframes commentOFF {
    0% {
      margin-top: 15px;
      opacity: 1; }
    100% {
      margin-top: 30px;
      opacity: 0; } }
  @-ms-keyframes commentOFF {
    0% {
      margin-top: 15px;
      opacity: 1; }
    100% {
      margin-top: 30px;
      opacity: 0; } }
  @-o-keyframes commentOFF {
    0% {
      margin-top: 15px;
      opacity: 1; }
    100% {
      margin-top: 30px;
      opacity: 0; } }
  @keyframes commentOFF {
    0% {
      margin-top: 15px;
      opacity: 1; }
    100% {
      margin-top: 30px;
      opacity: 0; } }
  .commenton {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: commentON;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.3s;
    -moz-animation-name: commentON;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.3s;
    -o-animation-name: commentON;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-name: commentON;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

  .commentoff {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: commentOFF;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.3s;
    -moz-animation-name: commentOFF;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.3s;
    -o-animation-name: commentOFF;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-name: commentOFF;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  .page {
    height: 450px; }

  .page-pics {
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid #2c5996;
    width: 100%;
    height: 200px; }
    .page-pics img {
      width: 50%;
      margin-top: 5px; }

  .page-text {
    width: 100%;
    position: relative;
    display: inline-block; }

  .right-page > .page-text > .page-button-comment-container > .comment {
    text-align: right; } }
@media only screen and (max-width: 480px) {
  .page {
    height: 350px; }

  .page-pics {
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid #2c5996;
    width: 100%;
    height: 100px; }
    .page-pics img {
      width: 40%;
      margin-top: 5px; }

  .page-text {
    width: 100%;
    position: relative;
    display: inline-block; }

  .right-page > .page-text > .page-button-comment-container > .comment {
    text-align: right; } }

/*# sourceMappingURL=index.css.map */
